body {
	background-color: white
}

.group1 {
	background-image: url("../images/1.jpg");
	height: 100vh;
}
.heading1 {
	color: white	
}

.heading2 {
	color: #dee0e2;
	font-style: Sketch Toronto;

}

.heading3 {
	font-size: 
}

.group2 {
	text-align: left;
}

.group3 {
	text-align: justify;
}

.btn btn-primary btn-lg {
	color: pink
}

img {
	width: 100%;
}